@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* From here, all of it is manual */

html {
  scroll-behavior: smooth;
}



:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);
}

body {
  /* iOS 11.0 이상에서 전체 화면 레이아웃을 위해 필요 */
  min-height: calc(100vh - var(--safe-area-inset-top));

  /* 노치와 홈 인디케이터 주변 영역을 안전하게 만들기 위해 필요 */
    padding-top: env(safe-area-inset-top) !important;
    padding-bottom: env(safe-area-inset-bottom)!important;
    padding-left: env(safe-area-inset-left)!important;
    padding-right: env(safe-area-inset-right)!important;
}

footer {
  max-height: 110px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  margin:20px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

code:not([class]) {
  font-size: 0.9em;
  color: rgba(219, 68, 85, 0.9);
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
}
h4:not([class]) {
  font-size: 1.1em;
  margin: .5em 0;
  font-weight: bold;
}

h3:not([class]) {
  font-size: 1.3em;
  margin: .5em 0;
  padding-top: 120px;
  font-weight: bold;
  margin-top: -90px;
}

h2:not([class]){
  font-size: 1.4em;
  margin: .5em 0;
}

p:not([class]){
  margin-top: .5em;
}

hr:not([class]){
  margin-top: 2em;
  margin-bottom: 2em;
}

.blogLink {
  color: rgba(99, 102, 241,  0.5);
  cursor: pointer;
  text-decoration: underline;
  transition: all .3s ease-in;
}

.blogLink:hover {
  color: red;
}

.blogImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}